MacroEsercizioGruppo2.sln
obj/MacroEsercizioGruppo2.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/MacroEsercizioGruppo2.csproj.nuget.g.props
obj/Debug/net10.0/MacroEsercizioGruppo2.AssemblyInfo.cs
obj/Debug/net10.0/MacroEsercizioGruppo2.AssemblyInfoInputs.cache
obj/Debug/net10.0/MacroEsercizioGruppo2.GeneratedMSBuildEditorConfig.editorconfig
obj/MacroEsercizioGruppo2.csproj.nuget.dgspec.json
obj/MacroEsercizioGruppo2.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net10.0/MacroEsercizioGruppo2.assets.cache
